body {
  font-family: Arial, Helvetica, sans-serif ;
  background-color: rgb(27, 27, 27);
  margin: 0;
  padding: 0;
}

header {
background-color: rgb(255, 255, 255);
width: 100%;
margin-bottom: 6%;
padding: 1.5px;
text-align: center;
border: 2px solid;
border-color: rgb(231, 231, 231);

}

ul {
  position: center;
  width: auto;
  border:2px solid;
  border-color: rgb(231, 231, 231);
  margin-left: 13%;
  margin-right: 13%;
  list-style-position: inside;
  list-style: none;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.568);
}

li {
  width:90%;
  margin-bottom: 6%;
  margin-top: 6%;
  position: center;
  border: 2px solid;
  border-color: rgb(231, 231, 231);
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.568);
  margin-left: 3.5%;
}

button {
  position: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(79, 205, 255);
  margin-bottom: 3px;
}

.ini {
  border-bottom: 1px solid rgb(79, 205, 255);
}

strong {
  color: white;
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.568);
}

.id {
  color: black;
}


h2 {
  border-bottom: 1px solid white;
  color: white;
}
.cim {
  margin: center;
  position: auto;
}

img {
  margin-bottom: 1%;
  border: 1.5px solid;
  border-color: rgb(231, 231, 231);
  border-radius: 5px;
  position: static;
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.568);
}

div {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-direction:column;
}

.desc {
    display: block;
    margin: auto;
    margin-bottom: 3%;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid;
    border-color: rgb(231, 231, 231);
    border-radius: 5px;
    width: 55%;
    text-align: center; 
    box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.568);
}

footer {
    border: 1.5px solid;
    border-color: rgb(231, 231, 231);
    width: 100%;
    background-color: rgb(255, 255, 255);
   text-align: center;
}